
/* 레이어관련 */
html { width:100%; height:100%; }   
body { width:100%; height:100%; margin: 0px; padding: 0px; font-size:9pt; }   
.SLB_center { cursor:pointer; visibility:hidden; border: solid 0px #000000;}   
.SLB_close { cursor: pointer; display:none; font-family: verdana,tahoma; font-size: 9pt; background-color:#000000; color: #ffffff; padding-bottom: 4px; }   
.SLB_caption { cursor: pointer; display:none; font-family: verdana,tahoma; font-size: 9pt; background-color:#000000; color: #ffffff; padding-bottom: 4px; }   
#SLB_loading { cursor: pointer; display:none; z-index: 99998; position:absolute; font-family: verdana,tahoma; font-size: 9pt; color: #ffffff; padding: 3px 0px 4px 0px; border: solid 0px #cfcfcf; }   
#SLB_loading i { font-size:70px; color:rgba(0, 0, 0, 0.5);}